<div style="height: 100px;"></div>
<div class="container-fluid position-relative">
  <div style="z-index: -1;" class="img position-absolute"></div>

</div>
<div class="container">
  <h4 class="for-p">CONTACT US:</h4>
  <p class="for-p">For Asia and Pacific + 85 28 009 0635 assistance in English 24/7</p>
  <p class="for-p">For Americas +1 (888) 857 4707 assistance in English 24/7</p>
  <p class="for-p">For Europe +46 10 138 88 60, Monday to Friday, from 8:00 a.m. to 5:00 p.m. (UTC +1)</p>
  <p class="for-p">For Middle East and Africa +971 800 03 205 64 Sunday to Thursday 8:00am to 5:00 pm assistance in
    Arabic (GMT +4)</p>
  <p class="for-p">For China: +86 4001 502020</p>
  <p class="for-p">For India: 18002674707</p>
  <div style="height: 100px;"></div>
</div>
