<div style="height: 50px;"></div>
<div class="container">
  <h1>TERMS OF USE</h1>
  <div style="height: 30px;"></div>
  <h4>INTRODUCTION</h4>
  <p class="for-p" style="margin-top: 30px">These terms of use governs your purchases from, and your use of, the
    www.danielwellington.com website and forms a contract between you and Daniel Wellington AB, Swedish company
    registration number 556875-5937, Vasagatan 12, 111 20 Stockholm, Sweden (hereinafter “Daniel Wellington”). By making
    a purchase from, and using, this website you have agreed to these terms of use. Please make sure that you have read
    and understood these terms of use when using our site.</p>

  <div style="height: 30px;"></div>
  <h4>CONFIRMATION</h4>
  <p class="for-p" style="margin-top: 30px">Once we have received your order we will send an electronic invoice to your
    e-mail address as a confirmation of your purchase. It is important that you enter the correct e-mail address when
    placing your order. We recommend saving this email in order to facilitate any contact with customer service you may
    have in the future. The order confirmation (receipt) also serves as guarantee of proof of purchase.</p>
  <div style="height: 30px;"></div>
  <h4>PAYMANT</h4>
  <p class="for-p" style="margin-top: 30px">You may pay with either credit or debit cards. Adyen banking services
    manages all of our banking transactions. Daniel Wellington does not store any credit card numbers.</p>
  <div style="height: 30px;"></div>
  <h4>PAYMANT BY CARD</h4>
  <p class="for-p" style="margin-top: 30px">Pay with your Visa, AMEX or MasterCard securely over the Internet. Your
    payment is handled by Adyen with secure encryption and under strict banking standards. Your card details are sent
    directly to the bank and cannot be read or accessed by anyone other than your bank. There is no extra charge for
    card payments unless the customer’s bank charges a fee to the customer. When paying by credit / debit card starting
    conditions apply as soon as the card transaction is approved. In the event that no payment has been received after
    submitting your order, Daniel Wellington may automatically cancel your order.</p>

  <div style="height: 30px;"></div>
  <h4>PROMO CODES</h4>
  <p class="for-p" style="margin-top: 30px">Promo Codes should be entered during the checkout process to be valid.
    Attempting to add a promo code after purchase will not be honoured.</p>

  <div style="height: 30px;"></div>
  <h4>TAXES</h4>
  <p class="for-p" style="margin-top: 30px">All prices shown on the Daniel Wellingtons website,
    www.danielwellington.com, are including VAT, in accordance with the applicable legislation. In case an order will be
    shipped to a delivery address outside the EU, please note that the VAT is removed at the checkout or earlier
    depending on which country the product will be delivered to.
    Please note that in case of an order is shipped to a delivery address outside the EU, you may be subject to import
    duties and taxes, which are collected when the shipment reaches your delivery address. You will be responsible for
    payment of such import duties and taxes. It should be noted that Daniel Wellington has no control over these charges
    and, since these charges are different for different countries, Daniel Wellington cannot predict their amount.
    Daniel Wellington advises you to contact your local customs office for further information.</p>


  <div style="height: 30px;"></div>
  <h4>ORDERING</h4>
  <p class="for-p" style="margin-top: 30px">Orders made in another person's name without the person’s consent, will be
    reported to the authorities. Daniel Wellington holds the right to change prices, correct incorrect prices on all
    orders as well as final sales. If a price is incorrect, this may compel Daniel Wellington to cancel the purchase and
    refund any amount paid in the best way. This can be performed at any time. </p>
  <P style="margin-top: 15px" class="for-p">Consumers have the right to return the order within 30 days from receiving
    the order. The right applies only in the case that the product and its original packaging can be returned in the
    same condition as when received. If consumers use their right to send back an order they should contact Daniel
    Wellington in order to get an address to send the goods to. Return shipping is paid by Daniel Wellington. If you
    live in a geographical area where the national postal service does not offer returns, the customer may be obliged to
    pay for the return shipping. If an item is damaged during transport, Daniel Wellington should be contacted within 30
    days for information about compensation.</P>

  <div style="height: 30px;"></div>
  <h4>PERSONAL INFORMATION</h4>
  <p class="for-p" style="margin-top: 30px">When shopping with Daniel Wellington we will save some of your data to
    fulfill your purchase. Daniel Wellington treats all personal information confidential. You have the right to request
    access to your data and if there is anything wrong you can get it changed or removed. Daniel Wellington may also use
    cookies, for example in order to improve your experience of the website. You can read more about how we use personal
    data and cookies here: </p>

  <div style="height: 30px;"></div>
  <h4>PRODUCT INFORMATION</h4>
  <p class="for-p" style="margin-top: 30px">Daniel Wellington has the right to adjust prices, add additional cost change
    product assortment and related information without notice. The purpose with product images and information texts
    made available by Daniel Wellington is to reflect the products as much as possible. While we try to ensure that all
    content on this website are accurate, errors may occur. Daniel Wellington cannot guarantee that all product images
    accurately reflect the true appearance of the products, all product images should be seen as illustrations. The
    product images may differ depending on the color settings on your computer. </p>

  <div style="height: 30px;"></div>
  <h4>DELIVERY AND CANCELLATIONS</h4>
  <p class="for-p" style="margin-top: 30px">Daniel Wellington ships worldwide. Deliveries are made in cooperation with
    the postal services and their partners. You have the right to cancel purchases and return delivered goods by
    contacting Daniel Wellington’s customer service or using the contact form on Daniel Wellington’s website within 30
    days from receiving the goods (www.danielwellington.com/eu/contacts) , provided the goods are unpacked and in the
    same condition as when you received them. However, the customer is responsible for the risk for transporting the
    returned goods to Daniel Wellington.</p>
  <p style="margin-top: 15px" class="for-p">In cases, you as a customer believe that the delivery is delayed in such a
    way that you no longer wish to fulfill the order, it is your responsibility to cancel the order. In cases where the
    order has been dispatched, the customer is required to receive the order. Cancellation is not valid until the
    customer has confirmed with Daniel Wellington either by email or telephone. If a product has been discontinued
    Daniel Wellington has the right to cancel the purchase and refund the paid amount to the customer. Daniel Wellington
    will notify the customer of a replacement or equivalent products if available.</p>

  <div style="height: 30px;"></div>
  <h4>COMPLAINTS TERMS</h4>
  <p class="for-p" style="margin-top: 30px">It is important that you as a customer carefully check your goods / products
    when you receive your shipment in order to verify that the products are not damaged and correct. If your product is
    damaged in transport, whether the damage is visible or hidden, you must report this as soon as possible to the
    carrier. If you receive your item and see that it is damaged or does not match the one you ordered, you shall also
    contact us within 30 days from receiving the product.</p>
  <p style="margin-top: 15px" class="for-p">Any complaints shall be made to our customer service through our contact
    form on the contact page. Please supply the order number and the reason for complaint and we will get back to you
    shortly. Same applies for returns. Defective products returned to Daniel Wellington should be treated as if they
    were faultless. It is in all types of returns extremely important that the product is packaged in such a way that it
    cannot be damaged during transit. Daniel Wellington has the right to replace defective goods with goods of the same
    model. If the item has been discontinued, the customer will receive a full refund. In the case that a returned
    product has no errors or faults, Daniel Wellington will send the product back to the customer.</p>

  <div style="height: 30px;"></div>
  <h4>LIABILITY</h4>
  <p class="for-p" style="margin-top: 30px">Daniel Wellington responsibility for errors in connection to delivery is
    limited to existing conditions of sale. Daniel Wellington bears no direct or indirect responsibility for example,
    but not limited to, incompatibility, delivery delays, downtime, data loss, additional work or other economic
    harm. </p>

  <div style="height: 30px;"></div>
  <h4>FORCE MAJEURE</h4>
  <p class="for-p" style="margin-top: 30px">Daniel Wellington shall be exempt from liability for damages and other
    penalties on the performance of the contract prevented, hindered or delayed by circumstances beyond our control. As
    the release factor should be considered include government intervention, new / amended legislation, lack of state,
    war, fire, flood, labor disturbance, prohibitions, restrictions, sabotage, poor transport or weather conditions or
    lack of delivery from suppliers and the company is exposed to criminal activity that affects activities. </p>

  <div style="height: 30px;"></div>
  <h4>INTELLECTUAL PROPERTY RIGHTS</h4>
  <p class="for-p" style="margin-top: 30px">All intellectual property rights, such as trademarks and copyright, on the
    website and in the material published on it are owned by Daniel Wellington or its subsidiaries or licensors. Any use
    of the site or its content, including copying or storing such content in whole or part, other than for your own
    personal, non-commercial use, is prohibited without the permission of Daniel Wellington.</p>

  <div style="height: 30px;"></div>
  <h4>USER CONTENT</h4>
  <p class="for-p" style="margin-top: 30px">The www.danielwellington.com website may include user generated content,
    for example social media applications. Daniel Wellington does not claim any ownership in rights in such content
    (images, photos and videos etc.) and take no legal responsibility for it. In case you suspect a violation of
    copyright, or any other right, or otherwise is offended by such content, please contact our customer
    service.</p>
  <div style="height: 30px;"></div>
  <h4>RETENTION OF TITLE</h4>
  <p class="for-p" style="margin-top: 30px">
    All products remain in Daniel Wellington property until full payment is made.</p>
  <div style="height: 30px;"></div>
  <h4>FRAUD</h4>
  <p class="for-p" style="margin-top: 30px">All frauds are reported to the authorities and Daniel Wellington reserves
    the right to cancel the purchase if any suspicion is raised</p>

  <div style="height: 30px;"></div>
  <h4>GOVERNING LAW AND JURISDICTION</h4>
  <p class="for-p" style="margin-top: 30px">These terms and your use of the www.danielwellington.com website are
    governed by Swedish law. To the extent permitted by law, Swedish courts shall have exclusive jurisdiction of any
    dispute arising from these terms of use and your use of the website, subject to Daniel Wellington’s right to
    prosecute a user at his/her place of residence.</p>

  <div style="height: 30px;"></div>
  <h4>TERMINATION</h4>
  <p class="for-p" style="margin-top: 30px">Daniel Wellington reserves the right to terminate your account and/or your
    use of the www.danielwellington.com website at its sole discretion. For example, if Daniel Wellington suspects that
    you have breached this terms of use. Such termination can be made without prior notice.</p>

  <div style="height: 30px;"></div>
  <h4>AMENDMENTS</h4>
  <p class="for-p" style="margin-top: 30px">Daniel Wellington may revise these terms of use from time to time. Every
    time you order a product from us, the general conditions in force at that time will apply to the contract between
    you and Daniel Wellington. You should therefore periodically visit this page to review the then current terms to
    which you are bound.
    These terms of use were updated 2019-03-01..</p>
  <div style="height: 100px;"></div>
</div>
