<div class="container">
  <div style="height: 30px;"></div>
  <h1>RETURN POLICY</h1>
  <p class="for-p"> You have the right to return any/all products you have purchased directly from our website within 30
    days of receiving the item.</p>
  <p class="for-p"> The product(s) must be unused – in its original packaging with labels and protective stickers intact
    - and still in the same new condition as when the watch was received.</p>
  <p class="for-p"> Products purchased directly from our website must be returned to our warehouse for a return and full
    refund to be made; product(s) cannot be returned in a local retail store.</p>
  <p class="for-p">Kindly note that you may be subject for the shipping expenses in returning this package to us.</p>
  <p class="for-p">Daniel Wellington does not take responsibility for any items lost during the return shipping.</p>
  <p class="for-p">Please note that the free strap is not covered by the ordinary return policy</p>

  <div style="height: 100px;"></div>
</div>
