<div class="container">
  <div style="height: 30px;"></div>
  <h1>PRIVACY POLICY</h1>
  <p style="margin-top: 30px" class="for-p" style="margin-top: 30px">Daniel Wellington AB, reg.no 556875-5937 (“Daniel
    Wellington,” “we,” “us” or
    “our”) will process your personal data when you are visiting and using the services provided at DanielWellington.com
    or purchase products in our stores. We strive to be transparent in what we do with visitors’ and customers’ personal
    data and have therefore adopted this privacy policy. Below, you will find information on what kind of personal data
    we process, why we do it, what we use it for and how we may share it. Daniel Wellington is the data controller of
    any processing of your personal data.</p>
  <div style="height: 30px;"></div>
  <h4>WHAT PERSONAL DATA DO WE PROCESS?</h4>
  <p style="margin-top: 30px" class="for-p">We collect personal data when you (i) purchase watches, accessories, watch
    bands or other goods, (ii) sign up for
    news, invites and offers, (iii) request support and (iv) are browsing our website. Such personal data will include
    your name, e-mail address, telephone, delivery address, payment details, IP address, behavior on the website and
    other information that you voluntarily provide us.</p>

  <div style="height: 30px;"></div>
  <h4>PURPOSE, LEGAL GROUND AND STORAGE PERIOD</h4>
  <p style="margin-top: 30px" class="for-p">We will only use your personal data for the purposes, and on the legal
    grounds, as set out below. We will not use
    your personal data for any purpose that is incompatible with the below purposes. Further, we will only use your
    personal data during the period as set out under "Storage period", after such which period your personal data will
    be erased.</p>

  <div style="height: 30px;"></div>
  <h6>PURCHASES</h6>
  <p class="for-p" style="margin-top: 30px"><i>Purpose of processing </i>: When you purchase watches, accessories, watch
    bands or other goods, we
    will process your
    personal data to fulfil our contractual obligations towards you (see Terms of Use).Our purchase form identifies what
    information you must provide to us, in order for us to complete your purchase.</p>
  <p class="for-p" style="margin-top: 15px"><i>Legal ground for processing</i> : The processing is necessary for our
    performance of
    the contract with you (i.e. Terms of Use).</p>
  <p class="for-p" style="margin-top: 15px"><i>Storage period</i> : We will process your personal data during the term
    of our contract (including
    two-year warranty
    period), we will thereafter erase your personal data. The storage period applies also to any unsuccessful purchase
    due to lack of funds on your account</p>
  <div style="height: 30px;"></div>
  <h6>DIRECT MARKETING</h6>
  <p style="margin-top: 30px" class="for-p"><i>Purpose of processing</i> : When you sign up for news, invites and offers
    (direct marketing), we will
    process your personal data to provide the services as requested by you. Our direct marketing is based on profiling,
    which means that we will customize the information that you receive from us based on certain factors. We use the
    following types of personal data to compile a profile: your gender, your location, your previous purchases, your
    behavior on our website, and/or your previous behavior when receiving direct marketing from us.</p>
  <p class="for-p" style="margin-top: 15px"><i>Legal ground for processing</i> : The processing is necessary for our
    legitimate interests to maintain good customer relations.</p>

  <p class="for-p" style="margin-top: 15px;"><i>Storage period</i> : If you opt-opt or unsubscribe from our marketing
    (including profiling), we will no
    longer process your personal data for this purpose. We will also erase your personal data, unless there is another
    legal ground for keeping your data (such as a valid purchase contract).</p>
  <div style="height: 30px;"></div>
  <h6>Support</h6>
  <p class="for-p" style="margin-top: 30px"><i>Purpose of processing</i> : When you request support through our live
    chat or our other
    support channels, we will process your personal data to be able to assist you with the relevant matter</p>
  <p class="for-p" style="margin-top: 15px"><i>Legal ground for processing</i> : The processing is necessary for our
    performance of the
    contract with you (i.e. Terms of Use).</p>
  <p style="margin-top: 15px" class="for-p"><i>Storage period </i>: We will erase your data, within six months after the
    relevant matter has been finally resolved.</p>

  <div style="height: 30px;"></div>
  <h6>CHECKOUT REMINDER</h6>
  <p class="for-p" style="margin-top: 30px"><i>Purpose of processing</i> : If you have initiated a purchase at our
    website and if you have
    provided your email address in connection therewith but have not completed the final step of your purchase, we will
    send you an e-mail with a link to your shopping cart for the purposes of reminding you of your uncompleted
    purchase.</p>
  <p class="for-p" style="margin-top: 15px;"><i>Legal ground for processing</i> : The processing is necessary for our
    and your
    legitimate interest to remind you of your uncompleted purchase.</p>
  <p class="for-p" style="margin-top: 15px"><i>Storage period</i> : We will erase your data, within one month after
    checkout
    reminder, unless there is another legal ground for keeping your data (such as a valid purchase contract) Opt-out is
    made possible by contacting dataprotection@danielwellington.com</p>

  <div style="height: 30px;"></div>
  <h6>BROWSING</h6>
  <p class="for-p" style="margin-top: 30px"><i>Purpose of processing</i> : When browsing our website, we will process
    your
    personal data to improve our website and for marketing purposes.</p>
  <p class="for-p" style="margin-top: 15px;"><i>Legal ground for processing</i> : The processing is necessary for our
    legitimate interests to improve our website and for retargeting. Please see more under “Cookies”.</p>
  <p class="for-p" style="margin-top: 15px;"><i>Storage period : Please see more under “Cookies”.</i></p>

  <div style="height: 30px;"></div>
  <h6>FRAUD PREVENTION</h6>
  <p class="for-p" style="margin-top: 30px"><i>Purpose of processing</i> : We will process your personal data for the
    purposes of carrying out risk analysis, fraud prevention and risk management.</p>
  <p class="for-p" style="margin-top: 15px;"><i>Legal ground for processing</i> : The processing is necessary for our
    legitimate interests to prevent fraud and to handle risks.</p>
  <p class="for-p" style="margin-top: 15px;"><i>Storage period</i> : We will erase any personal data used for this
    purpose on a six-month basis, unless there is another legitimate interest for keeping your data. Upon a purchase
    that has been cancelled due to fraud prevention, we will delete your personal data two years after the unsuccessful
    purchase.</p>
  <div style="height: 30px;"></div>
  <h6>FRAUD PREVENTION</h6>
  <p class="for-p" style="margin-top: 30px"><i>Purpose of processing</i> : When you visit one of our stores, we might
    conduct camera surveillance (if so, there are signs in the store informing of the surveillance) and thereby process
    moving pictures of you gathered through our surveillance cameras for the purposes of (i) preventing and
    investigating crime on property and towards employees and (ii) fire prevention.</p>
  <p class="for-p"><i>Legal ground for processing</i> : The processing is necessary for our legitimate interests to
    protect our
    property and ensuring a safe workplace for our employees.</p>
  <p class="for-p"><i>Storage period</i> : We will process your personal data for 30 days unless laws or regulations
    obliges us to continue the processing. The personal data will then be deleted.</p>
  <div style="height: 30px;"></div>
  <h6>FRAUD PREVENTION</h6>
  <p class="for-p" style="margin-top: 30px"><i>Purpose of processing</i> : We will analyze your personal data, in order
    to compile aggregated tracking data (including to analyze visitors’ use of our sites by tracking information such as
    page views, traffic flows, search terms and click throughs).</p>
  <p class="for-p" style="margin-top: 15px;"><i>Legal ground for processing</i> : The processing is necessary for our
    legitimate interest to create statistics over time.</p>

  <p class="for-p" style="margin-top: 15px;"><i>Storage period</i>We will anonymize all tracking data where this is
    technically possible. When your personal data has been anonymized, it will no longer be considered personal data
    under applicable data protection laws.
    Opt-out is made possible by contacting dataprotection@danielwellington.com</p>
  <p class="for-p" style="margin-top: 15px">Please note that the above storage periods do not apply to the extent Daniel
    Wellington is required to retain your personal data (partly or in full) under applicable mandatory law (e.g.
    accounting laws).
  </p>
  <div style="height: 30px;"></div>
  <h4>WHO DO WE SHARE YOUR PERSONAL DATA WITH?</h4>
  <p class="for-p" style="margin-top: 30px">Only the people who need to process personal data for the purposes mentioned
    above have access to your personal data. We may need to share your personal data with our group companies. We
    further may need to allow our suppliers access to your personal data when they perform services on our behalf,
    mainly to provide support and maintenance of IT systems, storage services and marketing. Any transfer of data
    outside the EU/EEA is made in line with data protection laws. Our international transfers of personal data
    (including transfers to our group companies and suppliers outside the EU/EEA) are based on the EU Commission’s
    standard contractual clauses. The standard contractual clauses may be found here. In addition, for transfers to some
    of our suppliers in the U.S., the recipient is certified under the EU-U.S. Privacy Shield administered by the U.S.
    Department of Commerce’s International Trade Administration (can be found here www.privacyshield.gov).</p>

  <div style="height: 30px;"></div>
  <h4>COOKIES</h4>
  <p class="for-p" style="margin-top: 30px">
    As part of our approach to providing personalized services on our website, we use cookies to store and sometimes
    track information about you. A cookie is a small data file sent to your browser from a web server and stored on your
    hard drive that allows easier access the next time the same page is visited. For example, a cookie is sent when you
    sign-up to download products or information on our website. If you do not want your personal information to be
    stored by cookies, you can configure your browser so that it notifies you whenever a cookie is received. This way
    you can decide each time to accept cookies or not. However, the use of cookies may be necessary to provide certain
    features and choosing to reject cookies may reduce the functionality of our website. Your browser should include
    precise instructions explaining how to control the acceptance of cookies.
  </p>
  <div style="height: 30px;"></div>
  <h4>DATA SECURITY</h4>

  <p class="for-p" style="margin-top: 30px">
    We employ appropriate technical and organizational security measures to help protect your personal data against loss
    and to guard against access by unauthorized persons. Appropriate security measures we have taken include
    implementing secure private connections, traceability, disaster recovery and access limitations. We regularly review
    our security policies and procedures to ensure our systems are secure and protected.
  </p>

  <div style="height: 30px;"></div>
  <h4>CONTACT INFORMATION</h4>
  <p class="for-p" style="margin-top: 30px">If you have any questions relating to our handling of your personal data or
    our use of cookies or if you would like to invoke any of your rights under applicable privacy legislation, please
    contact us at: dataprotection@danielwellington.com.</p>

  <div style="height: 30px;"></div>
  <h4>CHANGES TO THIS WEBSITE PRIVACY POLICY</h4>
  <p class="for-p" style="margin-top: 30px">If we change how we handle your personal data or how we use cookies, we will promptly update this website privacy
    policy and publish it on this website.</p>
  <p class="for-p " style="margin-top: 30px"><i>Last updated: 1st March 2019</i></p>
  <div style="height: 100px;"></div>
</div>
